@model IEnumerable<CRUDusingSP.Models.ShowList_Result>

@{
    ViewBag.Title = "Index";
}

    <p>
        @using (Html.BeginForm("Index", "ShowList", FormMethod.Get))
        {
            <text><b>SearchByDate:</b></text> 

            <label style="margin-left:40px;">Start Date:</label>
            <input type="date" name="Startdate" placeholder="Start Date" />
            <label style="margin-left:40px;">End Date:</label> 
            <input type="date" name="EndDate" placeholder="End Date" />
            <input type="submit" value="Search" class="btn btn-info" style="margin-left:40px;"/>
            
        }
    </p><br/>
@using (Html.BeginForm("Index", "ShowList"))
{
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("FirstName", "Index", new { SortColumn = 2, SortOrder = ViewBag.NameSortParam, Cpage = ViewBag.CPage })

            </th>
            <th>
                @Html.ActionLink("OrderDate", "Index", new { SortColumn = 3, SortOrder = ViewBag.DateSortParam, Cpage = ViewBag.CPage })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgentCode)
            </th>

        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Summation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentCode)
        </td>
    </tr>
        }

    </table>

    <table cellpadding="0" cellspacing="0">
        <tr>
            @* <td>
                    <a class="pages" href="javascript:Prev()">Prev</a>
                </td>*@
            @for (int i = 1; i <= ViewBag.PageCount; i++)
            {
                <td>
                    @if (i != ViewBag.CPage)
                    {
                        <a class="pages" href="javascript:Goto(@i);">@i</a>
                    }
                    else
                    {
                        <span class="pages">@i</span>
                    }
                </td>
            }
            @*<td><a class="pages" href="javascript:Next();">Next</a></td>*@
        </tr>
    </table>
    <input type="hidden" id="curpageidx" name="Cpage" />
}
<script type="text/javascript">
    function Prev() {
        var idx = document.getElementById("curpageidx").value;
        if (idx - 1 > 0) {
            alert(idx);
            document.getElementById("curpageidx").a = idx - 1;
            document.forms[1].submit();
        }
    }
    function Goto(index) {
        document.getElementById("curpageidx").value = index;
        document.forms[1].submit();
    }
    function Next() {
        var idx = document.getElementById("curpageidx").value;
        alert(idx);
        if (idx + 1 <=@ViewBag.PageCount) {
            document.getElementById("curpageidx").value = idx - 1;
        document.forms[1].submit();
        }
    }
</script>
